:root {
  --blanco: #f6f6f6;
  --negro: #181818;
  --amarillo: #ffcc14;
  --violeta: #6c2a86;
  --rosa: #ff5757;
  --verde: #81b622;
  --turqueza: #0097b2;
  --naranja: #f15a24;
  --gris: #585454;
}
section {
    background-color: var(--negro);
}
.navbar-toggler {
  /* Color de fondo */
  color: var(--violeta) !important;
  text-align: center;

}

.navbar-toggler-icon {
  width: 2.5rem;
  /* Tamaño horizontal */
  height: 2.5rem;
  /* Tamaño vertical */
  background-color: rgba(255, 204, 20, 0);
  /* Color de fondo */
  border-radius: 2px;
  /* Opcional: bordes redondeados */
  color: var(--violeta) !important;
}
.nav-link {
  color: var(--violeta) !important;
  font-weight: bold;
}

#basic-navbar-nav {
  color: yellow;
}

.botonVioleta:hover {
  Color: #ffcc14 !important;
  background-color: var(--violeta) !important;
  border-color: #ffcc14 !important;
}

.botonVioleta {
  background-color: #ffcc14 !important;
  Color: var(--violeta) !important;
  border-color: #ffcc14 !important;

}

.buscar {
  color: var(--blanco) !important;
  background-color: var(--violeta)28 !important;
  border-color: #ffcc14 !important;
}

.buscar::placeholder {
  color: #ffcc14 !important;
  opacity: 1;
  font-weight: bold;

}

/* Para navegadores antiguos (Mozilla) */
.buscar::-moz-placeholder {
  color: #ffcc14 !important;
  opacity: 1;
  font-weight: bold;

}

/* Para Internet Explorer */
.buscar:-ms-input-placeholder {
  color: #ffcc14 !important;
  font-weight: bold;
  opacity: 1;
}