:root {
  --blanco: #f6f6f6;
  --negro: #181818;
  --amarillo: #ffcc14;
  --violeta: #6c2a86;
  --rosa: #ff5757;
  --verde: #81b622;
  --turqueza: #0097b2;
  --naranja: #f15a24;

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}