:root {
  --blanco: #f6f6f6;
  --negro: #181818;
  --amarillo: #ffcc14;
  --amarilloClaro: #FFE485;
  --violeta: #6c2a86;
  --rosa: #ff5757;
  --verde: #81b622;
  --verde-oscuro: #0b9209;
  --turqueza: #0097b2;
  --azul: #2f45d6;
  --naranja: #f15a24;
  --gris: #585454;
  --gris-oscuro: #333333;
}